/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

Thumbs.db

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.log*
*.dll
*.lib
*.sbr
**/target/
.classpath
.project
.settings
**/app_icon/
Archive.zip
**/bower_components/
**/hooks/
**/Key/
**/node_modules/
**/platforms/
**/platforms_/
**/scss/
gulpfile.js
README.md
*.xlsx